USE [master]
GO
/****** Object:  Database [Restaurantes]    Script Date: 11/10/2018 14:33:01 ******/
CREATE DATABASE [Restaurantes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTAURANTES', FILENAME = N'R:\MSSQL\DATA\RESTAURANTES.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RESTAURANTES_log', FILENAME = N'R:\MSSQL\DATA\RESTAURANTES_log.ldf' , SIZE = 2368KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurantes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurantes]
GO
USE [Restaurantes]
GO
USE [Restaurantes]
GO
/****** Object:  Sequence [dbo].[SequenceName]    Script Date: 11/10/2018 14:33:02 ******/
CREATE SEQUENCE [dbo].[SequenceName] 
 AS [int]
 START WITH 4
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[tbm_Categorias]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [varchar](100) NULL,
	[estado] [char](2) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Ciudades]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Ciudades](
	[IdCiudad] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Estado] [char](1) NULL,
	[IdPais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Clientes]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Clientes](
	[IdCliente] [int] NOT NULL,
	[IdPersona] [int] NULL,
	[FechaIngreso] [date] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_comentarios]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_comentarios](
	[IdComentario] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Comentario] [varchar](max) NULL,
	[Fecha] [date] NULL,
	[Estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Empleados]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Empleados](
	[IdEmpleado] [int] NOT NULL,
	[IdPersona] [int] NULL,
	[Tipo] [varchar](20) NULL,
	[FechaSalida] [date] NULL,
	[FechaIngreso] [date] NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Menu]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Menu](
	[id_menu_option] [int] NOT NULL,
	[description] [varchar](50) NULL,
	[id_parent_menu_option] [int] NOT NULL,
	[url] [varchar](80) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Menus]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Menus](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[ParentMenuId] [int] NULL,
	[Titulo] [varchar](100) NULL,
	[Descripcion] [varchar](100) NULL,
	[Pagina] [varchar](100) NULL,
	[Id_rol] [int] NULL,
 CONSTRAINT [PK_tbm_Menus] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Mesas]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Mesas](
	[IdMesa] [int] NOT NULL,
	[NumAsientos] [int] NULL,
	[Estado] [char](1) NULL,
	[CreadoDate] [date] NULL,
	[CreadoPor] [varchar](30) NULL,
	[ModificadoDate] [date] NULL,
	[ModificadoPor] [varchar](30) NULL,
	[Ocupada] [bit] NULL,
 CONSTRAINT [PK_Mesa] PRIMARY KEY CLUSTERED 
(
	[IdMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Opciones]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Opciones](
	[id_opcion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[estado] [char](1) NULL,
	[nombredepantalla] [varchar](500) NULL,
	[categoria] [int] NULL,
 CONSTRAINT [PK_tbm_Opciones] PRIMARY KEY CLUSTERED 
(
	[id_opcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Orden_Detalle]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Orden_Detalle](
	[IdOrdDet] [int] NOT NULL,
	[IdPlato] [int] NULL,
	[Cantidad] [int] NULL,
	[Precio] [money] NULL,
	[Total] [money] NULL,
	[IdOrden] [int] NULL,
	[Despachado] [char](1) NULL,
 CONSTRAINT [PK_Orden_Detalle] PRIMARY KEY CLUSTERED 
(
	[IdOrdDet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Ordenes]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Ordenes](
	[IdOrden] [int] NOT NULL,
	[Fecha] [date] NULL,
	[Cliente] [varchar](50) NULL,
	[IdMesa] [int] NULL,
	[IdEmpleado] [int] NULL,
	[IdSucursal] [int] NULL,
	[Direccion] [varchar](100) NULL,
	[Telefono] [varchar](15) NULL,
	[Subtotal] [money] NULL,
	[IVA] [money] NULL,
	[Total] [money] NULL,
	[Estado] [char](2) NULL,
 CONSTRAINT [PK_Ordenes] PRIMARY KEY CLUSTERED 
(
	[IdOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Paises]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Paises](
	[IdPais] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Estado] [char](1) NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Parametro]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Parametro](
	[nemonico] [varchar](5) NOT NULL,
	[valor] [varchar](60) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Permisos_opciones]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Permisos_opciones](
	[id_permisos] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NULL,
	[id_opcion] [int] NULL,
 CONSTRAINT [PK_tbm_Permisos_opciones] PRIMARY KEY CLUSTERED 
(
	[id_permisos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Personas]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Personas](
	[IdPersona] [int] NOT NULL,
	[Nombres] [varchar](30) NULL,
	[Apellidos] [varchar](30) NULL,
	[FechaNacimiento] [date] NULL,
	[Numero1] [varchar](15) NULL,
	[Numero2] [varchar](15) NULL,
	[Email] [varchar](40) NULL,
	[CreadoDate] [date] NULL,
	[CreadoPor] [varchar](30) NULL,
	[ModificadoDate] [date] NULL,
	[ModificadoPor] [varchar](30) NULL,
	[CI] [varchar](10) NULL,
	[U_ser] [varchar](50) NULL,
	[Passw] [varchar](50) NULL,
	[Estado] [char](1) NULL,
	[IdCiudad] [int] NULL,
	[id_rol] [int] NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Platos]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Platos](
	[IdPlato] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Estado] [char](1) NULL,
	[CreadoDate] [date] NULL,
	[CreadoPor] [varchar](30) NULL,
	[ModificadoDate] [date] NULL,
	[ModificadoPor] [varchar](30) NULL,
	[IdPlatCat] [int] NULL,
	[Informacion] [varchar](max) NULL,
	[Precio] [money] NULL,
	[Tiempo] [int] NULL,
	[urlImagen] [varchar](max) NULL,
 CONSTRAINT [PK_Platos] PRIMARY KEY CLUSTERED 
(
	[IdPlato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Platos_Categoria]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Platos_Categoria](
	[IdPlatCat] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Estado] [char](1) NULL,
	[CreadoDate] [date] NULL,
	[CreadoPor] [varchar](30) NULL,
	[ModificadoDate] [date] NULL,
	[ModificadoPor] [varchar](30) NULL,
 CONSTRAINT [PK_Platos_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdPlatCat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Rol]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NULL,
 CONSTRAINT [PK_tbm_Rol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Rol_Menu]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Rol_Menu](
	[idRol] [int] NOT NULL,
	[idMenu] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_Sucursales]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_Sucursales](
	[IdSucursal] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[CreadoDate] [date] NULL,
	[CreadoPor] [varchar](30) NULL,
	[ModificadoDate] [date] NULL,
	[ModificadoPor] [varchar](30) NULL,
 CONSTRAINT [PK_Sucursales] PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_sugerirplato]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_sugerirplato](
	[Codigo] [int] NOT NULL,
	[Nombre] [char](50) NULL,
	[Observaciones] [varchar](100) NULL,
	[Estado] [char](1) NULL,
	[CI] [int] NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_tbm_sugerirplato] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbm_transicion]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbm_transicion](
	[idordendetalle] [int] NULL,
	[tiempo] [int] NULL,
	[horaarranque] [datetime] NULL,
	[horafinal] [datetime] NULL,
	[estado] [char](1) NULL,
	[idchef] [int] NULL,
	[horarealfin] [datetime] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbm_Categorias] ON 

INSERT [dbo].[tbm_Categorias] ([id_categoria], [categoria], [estado]) VALUES (1, N'Ingresar', N'A ')
INSERT [dbo].[tbm_Categorias] ([id_categoria], [categoria], [estado]) VALUES (2, N'Modificar', N'A ')
INSERT [dbo].[tbm_Categorias] ([id_categoria], [categoria], [estado]) VALUES (3, N'Eliminar', N'A ')
SET IDENTITY_INSERT [dbo].[tbm_Categorias] OFF
INSERT [dbo].[tbm_Ciudades] ([IdCiudad], [Nombre], [Estado], [IdPais]) VALUES (1, N'GUAYAQUIL', N'A', 1)
INSERT [dbo].[tbm_Ciudades] ([IdCiudad], [Nombre], [Estado], [IdPais]) VALUES (2, N'Quito', N'A', 1)
INSERT [dbo].[tbm_Ciudades] ([IdCiudad], [Nombre], [Estado], [IdPais]) VALUES (3, N'Cuenca', N'A', 1)
INSERT [dbo].[tbm_Clientes] ([IdCliente], [IdPersona], [FechaIngreso]) VALUES (1, 35, CAST(N'2017-10-10' AS Date))
INSERT [dbo].[tbm_Clientes] ([IdCliente], [IdPersona], [FechaIngreso]) VALUES (2, 37, CAST(N'2018-10-04' AS Date))
INSERT [dbo].[tbm_comentarios] ([IdComentario], [Nombre], [Correo], [Comentario], [Fecha], [Estado]) VALUES (1, N'Aldo', N'ahaz@gmail.com', N'Todo muy rico.', CAST(N'2016-01-15' AS Date), N'N')
INSERT [dbo].[tbm_comentarios] ([IdComentario], [Nombre], [Correo], [Comentario], [Fecha], [Estado]) VALUES (2, N'Maria', N'a@hotmail.com', N'No me gusto la comida, estaba agria.', CAST(N'2016-04-12' AS Date), N'N')
INSERT [dbo].[tbm_comentarios] ([IdComentario], [Nombre], [Correo], [Comentario], [Fecha], [Estado]) VALUES (3, N'Jose', N'j@hotmail.com', N'Ahi ahi', CAST(N'2016-05-29' AS Date), N'N')
INSERT [dbo].[tbm_Empleados] ([IdEmpleado], [IdPersona], [Tipo], [FechaSalida], [FechaIngreso]) VALUES (6, 26, N'Administrador', CAST(N'1900-01-01' AS Date), CAST(N'2017-09-13' AS Date))
INSERT [dbo].[tbm_Empleados] ([IdEmpleado], [IdPersona], [Tipo], [FechaSalida], [FechaIngreso]) VALUES (7, 27, N'Administrador', CAST(N'1900-01-01' AS Date), CAST(N'2017-09-20' AS Date))
INSERT [dbo].[tbm_Empleados] ([IdEmpleado], [IdPersona], [Tipo], [FechaSalida], [FechaIngreso]) VALUES (8, 28, N'Chef', CAST(N'1900-01-01' AS Date), CAST(N'2017-09-20' AS Date))
INSERT [dbo].[tbm_Menu] ([id_menu_option], [description], [id_parent_menu_option], [url]) VALUES (1, N'Empleados', 1, N'#')
INSERT [dbo].[tbm_Menu] ([id_menu_option], [description], [id_parent_menu_option], [url]) VALUES (2, N'Platos', 2, N'#')
INSERT [dbo].[tbm_Menu] ([id_menu_option], [description], [id_parent_menu_option], [url]) VALUES (3, N'Consultas', 3, N'#')
SET IDENTITY_INSERT [dbo].[tbm_Menus] ON 

INSERT [dbo].[tbm_Menus] ([MenuId], [ParentMenuId], [Titulo], [Descripcion], [Pagina], [Id_rol]) VALUES (1, 0, N'Ingresar', NULL, NULL, 1)
INSERT [dbo].[tbm_Menus] ([MenuId], [ParentMenuId], [Titulo], [Descripcion], [Pagina], [Id_rol]) VALUES (2, 0, N'Modificar', NULL, NULL, 1)
INSERT [dbo].[tbm_Menus] ([MenuId], [ParentMenuId], [Titulo], [Descripcion], [Pagina], [Id_rol]) VALUES (3, 0, N'Eliminar', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbm_Menus] OFF
INSERT [dbo].[tbm_Mesas] ([IdMesa], [NumAsientos], [Estado], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor], [Ocupada]) VALUES (1, 4, N'1', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz', 1)
INSERT [dbo].[tbm_Mesas] ([IdMesa], [NumAsientos], [Estado], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor], [Ocupada]) VALUES (2, 4, N'1', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz', 1)
INSERT [dbo].[tbm_Mesas] ([IdMesa], [NumAsientos], [Estado], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor], [Ocupada]) VALUES (3, 4, N'1', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz', 1)
SET IDENTITY_INSERT [dbo].[tbm_Opciones] ON 

INSERT [dbo].[tbm_Opciones] ([id_opcion], [descripcion], [estado], [nombredepantalla], [categoria]) VALUES (1, N'Empleado', N'A', NULL, 1)
INSERT [dbo].[tbm_Opciones] ([id_opcion], [descripcion], [estado], [nombredepantalla], [categoria]) VALUES (2, N'Plato', N'A', NULL, 1)
INSERT [dbo].[tbm_Opciones] ([id_opcion], [descripcion], [estado], [nombredepantalla], [categoria]) VALUES (3, N'Empleado', N'A', NULL, 2)
SET IDENTITY_INSERT [dbo].[tbm_Opciones] OFF
INSERT [dbo].[tbm_Orden_Detalle] ([IdOrdDet], [IdPlato], [Cantidad], [Precio], [Total], [IdOrden], [Despachado]) VALUES (0, 17, 1, 3.5000, 3.5000, 15, NULL)
INSERT [dbo].[tbm_Orden_Detalle] ([IdOrdDet], [IdPlato], [Cantidad], [Precio], [Total], [IdOrden], [Despachado]) VALUES (1, 15, 1, 6.0000, 6.0000, 17, NULL)
INSERT [dbo].[tbm_Orden_Detalle] ([IdOrdDet], [IdPlato], [Cantidad], [Precio], [Total], [IdOrden], [Despachado]) VALUES (2, 4, 2, 3.5000, 7.0000, 18, NULL)
INSERT [dbo].[tbm_Ordenes] ([IdOrden], [Fecha], [Cliente], [IdMesa], [IdEmpleado], [IdSucursal], [Direccion], [Telefono], [Subtotal], [IVA], [Total], [Estado]) VALUES (0, CAST(N'2017-09-20' AS Date), N'leonel', 1, 9, 1, N'', N'', 5.0000, 0.6000, 5.6000, N'I ')
INSERT [dbo].[tbm_Ordenes] ([IdOrden], [Fecha], [Cliente], [IdMesa], [IdEmpleado], [IdSucursal], [Direccion], [Telefono], [Subtotal], [IVA], [Total], [Estado]) VALUES (1, CAST(N'2017-09-20' AS Date), N'Alexandra Guillin', 1, 9, 1, N'', N'', 5.0000, 0.6000, 5.6000, N'I ')
INSERT [dbo].[tbm_Ordenes] ([IdOrden], [Fecha], [Cliente], [IdMesa], [IdEmpleado], [IdSucursal], [Direccion], [Telefono], [Subtotal], [IVA], [Total], [Estado]) VALUES (2, CAST(N'2017-09-20' AS Date), N'Alexandra Guillin', 3, 9, 1, N'', N'', 15.0000, 1.8000, 16.8000, N'I ')
INSERT [dbo].[tbm_Paises] ([IdPais], [Nombre], [Estado]) VALUES (1, N'Ecuador', N'A')
INSERT [dbo].[tbm_Paises] ([IdPais], [Nombre], [Estado]) VALUES (2, N'Perú', N'A')
INSERT [dbo].[tbm_Paises] ([IdPais], [Nombre], [Estado]) VALUES (3, N'Colombia', N'A')
INSERT [dbo].[tbm_Parametro] ([nemonico], [valor]) VALUES (N'MAXW', N'300')
INSERT [dbo].[tbm_Parametro] ([nemonico], [valor]) VALUES (N'MAXH', N'300')
SET IDENTITY_INSERT [dbo].[tbm_Permisos_opciones] ON 

INSERT [dbo].[tbm_Permisos_opciones] ([id_permisos], [id_rol], [id_opcion]) VALUES (1, 1, 1)
INSERT [dbo].[tbm_Permisos_opciones] ([id_permisos], [id_rol], [id_opcion]) VALUES (2, 1, 2)
INSERT [dbo].[tbm_Permisos_opciones] ([id_permisos], [id_rol], [id_opcion]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[tbm_Permisos_opciones] OFF
INSERT [dbo].[tbm_Personas] ([IdPersona], [Nombres], [Apellidos], [FechaNacimiento], [Numero1], [Numero2], [Email], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor], [CI], [U_ser], [Passw], [Estado], [IdCiudad], [id_rol]) VALUES (3, N'Miguel', N'Pallo', CAST(N'1995-12-12' AS Date), N'2258746', N'0952365418', N'mpallo@tes.edu.ec', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz', N'0995175325', N'mpallo', N'1234', N'A', 1, 1)
INSERT [dbo].[tbm_Personas] ([IdPersona], [Nombres], [Apellidos], [FechaNacimiento], [Numero1], [Numero2], [Email], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor], [CI], [U_ser], [Passw], [Estado], [IdCiudad], [id_rol]) VALUES (4, N'Angela', N'Romero', CAST(N'1979-09-25' AS Date), N'2365478', N'0967312385', N'aromero@tes.edu.ec', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz', N'0909261548', N'aromero', N'12345', N'A', 3, 1)
INSERT [dbo].[tbm_Personas] ([IdPersona], [Nombres], [Apellidos], [FechaNacimiento], [Numero1], [Numero2], [Email], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor], [CI], [U_ser], [Passw], [Estado], [IdCiudad], [id_rol]) VALUES (5, N'Anthony', N'Garcia', CAST(N'1996-03-25' AS Date), N'2365877', N'0965239968', N'agarci@tes.edu.ec', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz', N'0978563214', N'agarcia', N'54321', N'A', 8, 1)
INSERT [dbo].[tbm_Platos] ([IdPlato], [Nombre], [Estado], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor], [IdPlatCat], [Informacion], [Precio], [Tiempo], [urlImagen]) VALUES (1, N'Jugos Naturales', N'A', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz', 6, N'Ponemos a su disposición una variedad 
de    jugos   naturales   endulzados   con 
esplenda  y  hecho  a  base  de  la  pulpa 
de la fruta.', 1.5000, 120, NULL)
INSERT [dbo].[tbm_Platos] ([IdPlato], [Nombre], [Estado], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor], [IdPlatCat], [Informacion], [Precio], [Tiempo], [urlImagen]) VALUES (2, N'Aguas', N'A', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz', 6, N'1 Botella de agua de 250ml', 1.0000, 120, NULL)
INSERT [dbo].[tbm_Platos] ([IdPlato], [Nombre], [Estado], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor], [IdPlatCat], [Informacion], [Precio], [Tiempo], [urlImagen]) VALUES (3, N'Vinos', N'A', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz', 6, N'Tenemos un extenso catalogo de vinos 
para  su  eleccion,  selecionados  espe-
cialmente para nuestros mas refinados 
clientes.', 5.0000, 120, NULL)
INSERT [dbo].[tbm_Platos_Categoria] ([IdPlatCat], [Nombre], [Estado], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor]) VALUES (1, N'Desayunos', N'A', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz')
INSERT [dbo].[tbm_Platos_Categoria] ([IdPlatCat], [Nombre], [Estado], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor]) VALUES (2, N'Entradas', N'A', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz')
INSERT [dbo].[tbm_Platos_Categoria] ([IdPlatCat], [Nombre], [Estado], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor]) VALUES (3, N'Platos Fuertes', N'A', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz')
SET IDENTITY_INSERT [dbo].[tbm_Rol] ON 

INSERT [dbo].[tbm_Rol] ([idRol], [description]) VALUES (1, N'Administrador')
INSERT [dbo].[tbm_Rol] ([idRol], [description]) VALUES (2, N'Chef')
INSERT [dbo].[tbm_Rol] ([idRol], [description]) VALUES (3, N'Mesero')
SET IDENTITY_INSERT [dbo].[tbm_Rol] OFF
INSERT [dbo].[tbm_Rol_Menu] ([idRol], [idMenu]) VALUES (1, 1)
INSERT [dbo].[tbm_Rol_Menu] ([idRol], [idMenu]) VALUES (1, 2)
INSERT [dbo].[tbm_Rol_Menu] ([idRol], [idMenu]) VALUES (1, 3)
INSERT [dbo].[tbm_Sucursales] ([IdSucursal], [Nombre], [CreadoDate], [CreadoPor], [ModificadoDate], [ModificadoPor]) VALUES (1, N'GYE', CAST(N'2016-05-14' AS Date), N'Aldo Haz', CAST(N'2016-05-14' AS Date), N'Aldo Haz')
INSERT [dbo].[tbm_sugerirplato] ([Codigo], [Nombre], [Observaciones], [Estado], [CI], [Fecha]) VALUES (1, N'Tapado Arrecho                                    ', N'Plato típico de Esmeraldas', N'A', 5, CAST(N'2018-10-11' AS Date))
INSERT [dbo].[tbm_sugerirplato] ([Codigo], [Nombre], [Observaciones], [Estado], [CI], [Fecha]) VALUES (2, N'Prueba Uno                                        ', N'asdasdasdasd', N'A', 3, CAST(N'2018-10-11' AS Date))
INSERT [dbo].[tbm_sugerirplato] ([Codigo], [Nombre], [Observaciones], [Estado], [CI], [Fecha]) VALUES (3, N'Prueba Dos                                        ', N'asdasdasdasdasdad', N'A', 3, CAST(N'2018-10-11' AS Date))
INSERT [dbo].[tbm_transicion] ([idordendetalle], [tiempo], [horaarranque], [horafinal], [estado], [idchef], [horarealfin]) VALUES (1, 600, CAST(N'2016-05-14T00:00:00.000' AS DateTime), CAST(N'2016-05-14T00:00:00.000' AS DateTime), N'I', 1, CAST(N'2016-05-14T00:00:00.000' AS DateTime))
INSERT [dbo].[tbm_transicion] ([idordendetalle], [tiempo], [horaarranque], [horafinal], [estado], [idchef], [horarealfin]) VALUES (2, 1, CAST(N'2016-05-30T14:50:43.000' AS DateTime), CAST(N'2016-05-30T14:51:43.000' AS DateTime), N'C', 0, NULL)
INSERT [dbo].[tbm_transicion] ([idordendetalle], [tiempo], [horaarranque], [horafinal], [estado], [idchef], [horarealfin]) VALUES (3, 2, CAST(N'2016-05-30T15:47:05.000' AS DateTime), CAST(N'2016-05-30T15:49:05.000' AS DateTime), N'C', 0, NULL)
ALTER TABLE [dbo].[tbm_Mesas] ADD  DEFAULT ((1)) FOR [Ocupada]
GO
ALTER TABLE [dbo].[tbm_Ordenes] ADD  CONSTRAINT [DF_tbm_Ordenes_Estado]  DEFAULT ('I') FOR [Estado]
GO
ALTER TABLE [dbo].[tbm_Ciudades]  WITH CHECK ADD FOREIGN KEY([IdPais])
REFERENCES [dbo].[tbm_Paises] ([IdPais])
GO
ALTER TABLE [dbo].[tbm_Ciudades]  WITH CHECK ADD FOREIGN KEY([IdPais])
REFERENCES [dbo].[tbm_Paises] ([IdPais])
GO
ALTER TABLE [dbo].[tbm_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Personas] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[tbm_Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[tbm_Clientes] CHECK CONSTRAINT [FK_Clientes_Personas]
GO
ALTER TABLE [dbo].[tbm_Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Personas] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[tbm_Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[tbm_Empleados] CHECK CONSTRAINT [FK_Empleados_Personas]
GO
ALTER TABLE [dbo].[tbm_Orden_Detalle]  WITH CHECK ADD  CONSTRAINT [fk_detalle] FOREIGN KEY([IdPlato])
REFERENCES [dbo].[tbm_Platos] ([IdPlato])
GO
ALTER TABLE [dbo].[tbm_Orden_Detalle] CHECK CONSTRAINT [fk_detalle]
GO
ALTER TABLE [dbo].[tbm_Orden_Detalle]  WITH CHECK ADD  CONSTRAINT [fk_Orden] FOREIGN KEY([IdOrden])
REFERENCES [dbo].[tbm_Ordenes] ([IdOrden])
GO
ALTER TABLE [dbo].[tbm_Orden_Detalle] CHECK CONSTRAINT [fk_Orden]
GO
ALTER TABLE [dbo].[tbm_Orden_Detalle]  WITH CHECK ADD  CONSTRAINT [fk_Ordenes] FOREIGN KEY([IdOrden])
REFERENCES [dbo].[tbm_Ordenes] ([IdOrden])
GO
ALTER TABLE [dbo].[tbm_Orden_Detalle] CHECK CONSTRAINT [fk_Ordenes]
GO
ALTER TABLE [dbo].[tbm_Ordenes]  WITH CHECK ADD  CONSTRAINT [fk_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[tbm_Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[tbm_Ordenes] CHECK CONSTRAINT [fk_Empleado]
GO
ALTER TABLE [dbo].[tbm_Ordenes]  WITH CHECK ADD  CONSTRAINT [fk_Mesa] FOREIGN KEY([IdMesa])
REFERENCES [dbo].[tbm_Mesas] ([IdMesa])
GO
ALTER TABLE [dbo].[tbm_Ordenes] CHECK CONSTRAINT [fk_Mesa]
GO
ALTER TABLE [dbo].[tbm_Ordenes]  WITH CHECK ADD  CONSTRAINT [fk_Sucursal] FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[tbm_Sucursales] ([IdSucursal])
GO
ALTER TABLE [dbo].[tbm_Ordenes] CHECK CONSTRAINT [fk_Sucursal]
GO
ALTER TABLE [dbo].[tbm_Permisos_opciones]  WITH CHECK ADD  CONSTRAINT [fk_id_opciones] FOREIGN KEY([id_permisos])
REFERENCES [dbo].[tbm_Opciones] ([id_opcion])
GO
ALTER TABLE [dbo].[tbm_Permisos_opciones] CHECK CONSTRAINT [fk_id_opciones]
GO
ALTER TABLE [dbo].[tbm_Personas]  WITH CHECK ADD  CONSTRAINT [fk_ciudad] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[tbm_Ciudades] ([IdCiudad])
GO
ALTER TABLE [dbo].[tbm_Personas] CHECK CONSTRAINT [fk_ciudad]
GO
ALTER TABLE [dbo].[tbm_Platos]  WITH CHECK ADD  CONSTRAINT [FK_Platos_Platos_Categoria] FOREIGN KEY([IdPlatCat])
REFERENCES [dbo].[tbm_Platos_Categoria] ([IdPlatCat])
GO
ALTER TABLE [dbo].[tbm_Platos] CHECK CONSTRAINT [FK_Platos_Platos_Categoria]
GO
/****** Object:  StoredProcedure [dbo].[RegistraClientes]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[RegistraClientes]  
	-- parametros
	@Nombres   varchar(30),
	@Apellido	Varchar(30),
	@FchNaci	date,
	@Celu		varchar(10),
	@Telf		varchar(9),
	@correo		varchar(60),
	@User		varchar(50),
	@Passw		varchar(50),
	@Cedula		varchar(10),
	@Ciudad		int,
	@Error varchar(100) output

	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
     set @Error  = 'OK'

	declare @IDPersona  int,@IdCliente int , @Validador int , @Continuar varchar(1) = 'S'

	 
	--OBTENGO ID DE TABLAS 
	 set @IDPersona   = (SELECT isnull(MAX(p.IdPersona),0) +1
							    FROM tbm_Personas as p)

	 set @IdCliente  = (select  isnull(max(c.IdCliente),0) +1 
								from tbm_Clientes c) 

     	--valido que no exista otro cliente con el mismo id
	set @Validador   = (select COUNT(1) 
							   from tbm_Personas as per
								 where per.CI = @Cedula)

	if @Validador > 0 
	  begin
	   set @Error  = 'Ya existe otro Cliente con el mismo numero de identificacion'
	   set @Continuar = 'N'
	end

	--valido que no exista otra persona con el mismo usuario
	if @Validador = 0
	  begin
	  set @Validador = (select count(1)
					    from tbm_Personas
						where U_ser = @User)

		if @Validador > 0 
		  begin
		   set @Error  = 'Ya existe otro Cliente con  el mismo usuario'
		   set @Continuar = 'N' 
		end
    end 



	 IF @Continuar = 'S'
	 begin
	 -- Insert statements for procedure here
		--LLENO TABLA PERSONAS
		Insert into tbm_Personas(IdPersona,Nombres, Apellidos, FechaNacimiento, Numero1, Numero2, Estado,CI,IdCiudad,Email,U_ser,Passw)
		values(
		@IDPersona,	
		@Nombres, 
		@Apellido, 
		@FchNaci,  
		@Celu,
		@Telf,
		'A',
		@Cedula,
		@Ciudad,
		@correo,
		@User,
		@Passw)

		--lleno tabla  de clientes
		Insert into tbm_Clientes(IdCliente,IdPersona,FechaIngreso)
		values
		(@IdCliente,
		 @IDPersona,
		 GETDATE())
		 --si todo esta bien retorno  ok 
		  set @Error  = 'OK'
	 END
end


GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZA_PLATOS]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
create PROCEDURE [dbo].[SP_ACTUALIZA_PLATOS]
	-- Add the parameters for the stored procedure here
  @IdPlato  int,
  @IdCategoria int,
  @Nombre  varchar(30),
  @Estado   varchar(1),
  @Precio   Money,  
  @Informacion  varchar(3000),
  @Tiempo      int,
  @Control     int,--1 para actualziar 2 para guadrar un plato nuevo
  @Error     varchar(500) output

  
AS

BEGIN

	SET NOCOUNT ON;
	declare @intControl int = 0, @SecPlato int

	if @Control = 1 
	begin
	 --actualzio reporte
     Update tbm_Platos Set
	  Nombre  = @Nombre ,
	  ModificadoDate = GETDATE(),
	 -- ModificadoPor  = 
	 IdPlatCat  = @IdCategoria ,
	 Informacion  = @Informacion ,
	 Precio = @Precio,
	 Tiempo  = @Tiempo
	 Where  IdPlato = @IdPlato
	 set @Error   = 'OK' --si nunca hay errore se retorna un ok en esta variable
	end 

	if @Control = 2
	begin

	set @intControl = (SELECT  count(1)
					   FROM tbm_Platos AS P
					   WHERE p.Nombre = @Nombre)

      if @intControl = 0 

	  set @SecPlato = (SELECT  isnull(MAX(IdPlato),0) +1
					    FROM tbm_Platos )
	  begin 
		 Insert into tbm_Platos(IdPlato,Nombre,Estado,CreadoDate,CreadoPor,ModificadoDate,ModificadoPor,IdPlatCat,Informacion,Precio,Tiempo)
			values
			(@SecPlato ,
			 @Nombre ,
			 @Estado ,
			 GETDATE(),
			 null,
			 null,
			 null,
			 @IdCategoria ,
			 @Informacion ,
			 @Precio ,
			 @Tiempo )
	       set @Error   = 'OK'
		end

		if @intControl <> 0
		begin
	    set @Error   = 'Ya existe otro plato con el mismo nombre'
		end 

	end 


END


GO
/****** Object:  StoredProcedure [dbo].[SP_BOR_PLATO]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_BOR_PLATO] @IdPlato integer

as
begin

DELETE FROM tbm_Platos
WHERE IdPlato = @IdPlato

end;


GO
/****** Object:  StoredProcedure [dbo].[SP_BORRAR]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_BORRAR] @pers integer

as
begin

delete from tbm_Empleados
where IdPersona = @pers

delete from tbm_Personas
where IdPersona = @pers


end;


GO
/****** Object:  StoredProcedure [dbo].[SP_EDITARPERFIL]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_EDITARPERFIL]
@Nombres varchar(30),
@Apellidos varchar(30),
@Nacimiento  date,
@email varchar(40),
@num2 varchar(15),
@num1 varchar(15),
@ciu integer,
@idper integer
as
begin

update tbm_Personas
set Nombres = @Nombres, Apellidos=@Apellidos, FechaNacimiento=@Nacimiento, Email=@email, Numero2=@num2, Numero1=@num1,IdCiudad=@ciu
where CI = @idper

end
GO
/****** Object:  StoredProcedure [dbo].[SP_EXTRAER]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EXTRAER] @Persona integer
As
Begin

select PE.Nombres,PE.Apellidos, PE.FechaNacimiento, PE.Numero1, PE.Numero2, PE.Email, PE.Estado, PE.IdCiudad , PE.CI, PE.CreadoDate, PE.U_ser, PE.Passw
from tbm_Personas as PE
where IdPersona = @Persona

declare @ciudad as integer
select @ciudad = (select PE.IdCiudad
from tbm_Personas as PE
where IdPersona = @Persona)

select Tipo, FechaIngreso
from tbm_Empleados as EM
where EM.IdPersona = @Persona

select IdPais
from tbm_Ciudades
where IdCiudad = @ciudad

END;




GO
/****** Object:  StoredProcedure [dbo].[SP_INICIO]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INICIO] @Usr varchar(50), @Psw varchar(50)
As
Begin

select PE.IdPersona, PE.Nombres, PE.Apellidos
from tbm_Personas as PE
where U_ser=@Usr and Passw=@Psw

declare @pers as integer
select @pers = ''
select @pers = (select PE.IdPersona
from tbm_Personas as PE
where U_ser=@Usr and Passw=@Psw)

Select EM.Tipo, EM.IdEmpleado
from tbm_Empleados as EM
where em.IdPersona=@pers

END;


GO
/****** Object:  StoredProcedure [dbo].[SP_Ins_Orden]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[SP_Ins_Orden]
@IdOrden Integer, 
@Fecha date, 
@Cliente Varchar(50), 
@IdMesa Integer, 
@IdEmpleado Integer, 
@IdSucursal Integer, 
@Direccion varchar(100), 
@Telefono varchar(15), 
@Subtotal money, 
@IVA money, 
@Total money

As
Begin

insert into tbm_Ordenes(IdOrden, Fecha, Cliente, IdMesa, IdEmpleado, IdSucursal, Direccion, Telefono, Subtotal, IVA, Total)
values(@IdOrden, @Fecha, @Cliente, @IdMesa, @IdEmpleado, @IdSucursal, @Direccion, @Telefono, @Subtotal, @IVA, @Total)

end;


GO
/****** Object:  StoredProcedure [dbo].[SP_Ins_Orden_Det]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[SP_Ins_Orden_Det]
@IdOrdDet Integer,
@IdPlato Integer, 
@Cantidad Integer, 
@Precio Money,
@Total Money,
@IdOrden Integer

As
Begin

insert into tbm_Orden_Detalle(IdOrdDet, IdPlato, Cantidad, Precio, Total, IdOrden)
values(@IdOrdDet, @IdPlato, @Cantidad, @Precio, @Total, @IdOrden)

end;


GO
/****** Object:  StoredProcedure [dbo].[SP_MENU]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MENU] @Usr varchar(50)
As
Begin

select id_menu_option,description,id_parent_menu_option,url
from tbm_Menu, tbm_Rol_Menu, tbm_Empleados e, tbm_Personas p
where id_menu_option = idMenu
and idRol = convert(int,Tipo)
and e.IdPersona = p.IdPersona
and p.U_ser = @Usr

END;


GO
/****** Object:  StoredProcedure [dbo].[SP_MOD_PLATO]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MOD_PLATO] 
@Nombres varchar(30), 
@Tiempo integer,
@moddate date,
@modpor varchar(30),
@info varchar(max),
@precio money,
@IdPlato integer,
@UrlImagen varchar(MAX)

As
Begin

UPDATE tbm_Platos
SET Nombre = @Nombres, Tiempo = @Tiempo, ModificadoDate =@moddate, ModificadoPor = @modpor, informacion = @info, Precio = @precio, urlImagen = @UrlImagen
WHERE IdPlato = @IdPlato

END;


GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MODIFICAR] 
@Nombres varchar(30), 
@Nacimiento  date,
@num1 varchar(15),
@num2 varchar(15),
@email varchar(40),
@moddate date,
@modpor varchar(30),
@user varchar(100),
@pass varchar(50),
@est char(1),
@ciu integer,
@idper integer,
@tipo varchar(20),
@fecing date

As
Begin

UPDATE tbm_Personas 
SET Nombres = @Nombres, FechaNacimiento = @Nacimiento, Numero1 = @num1, Numero2 = @num2, 
Email = @email, ModificadoDate = @moddate, ModificadoPor = @modpor,Passw = @pass, Estado = @est, IdCiudad = @ciu, U_ser=@user
WHERE IdPersona = @idper

UPDATE tbm_Empleados
SET Tipo = @tipo, FechaIngreso = @fecing
WHERE IdPersona = @idper

END;

GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_MENSAJES]    Script Date: 11/10/2018 14:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MODIFICAR_MENSAJES]
	-- Add the parameters for the stored procedure here
	@idComentario integer,
	@estado char(1)
AS
BEGIN
	UPDATE tbm_comentarios
SET Estado = @estado
WHERE IdComentario = @idComentario
END


GO
USE [master]
GO
